$header_min_height: 56px;

.header {
  position: relative;
  min-height: 56px;
  background-color: #ffffff;
  z-index: 2;

  font-family: "PTsans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation {
  position: relative;
  background-color: #81b3d2;
  z-index: 1;
}

.navigation--close {
  display: none;
}

.navigation--no-js {
  display: block;
}

.navigation--no-js .navigation__close-menu-btn {
  display: none;
}

.navigation__list {
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  min-height: 55px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  &:last-child { // использовал вложенность
    border-bottom: none;
    z-index: -1;
  }
}

.navigation__link {
  height: 100%;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
}

.navigation__close-menu-btn,
.header__open-menu-btn {
  position: absolute;
  right: 20px;
  top: 17px;

  cursor: pointer;
}

.header__menu {
  position: relative;
  min-height: 56px;
  background-color: #ffffff;
  box-shadow: 0 -3px  7px 0 rgba(0, 0, 0, 0.2);

  z-index: 2;
}

$header_logo_width: 102px;
$header_logo_height: 83px;

.header__logo {
  position: absolute;
  right: $mobile_width / 2 - $header_logo_width / 2; // использовал математические операции
  bottom: - $header_logo_height + $header_min_height;
  z-index: 3;
}

/* .navigation--open .navigation__logo {
  top: auto;
  bottom: -10px;
} */

@media (min-width: $tablet_width) {
  .header {
    width: $tablet_width;
  }

  .header__menu {
    display: none;
  }

  .navigation__close-menu-btn {
    display: none;
  }

  .navigation {
    background-color: #ffffff;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
  }

  .navigation__item {
    width: 153px;
    min-height: 56px;
    border: none;

    background-color: transparent;
  }

  .navigation__item:nth-child(2) {
    margin-right: auto;
  }

  .navigation__item:nth-child(3) {
    margin-left: auto;
  }

  .navigation__link {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
  }

  .header__logo {
    right: $tablet_width / 2 - $header_logo_width / 2;
  }
}
