.order {
  padding: 30px 20px 50px 20px;
  background-color: white;
}

.order__title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.order__text {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.order__button {
  display: inline-block;
  text-align: center;
  width: 280px;
  height: 58px;

  text-decoration: none;
  font-size: 21px;
  line-height: 58px;
  font-weight: bold;
  color: white;
  background-color: #81b3d2;
}

@media (min-width: $tablet_width) {
  .order {
    padding: 60px 160px 60px 160px;
  }

  .order__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .order__text {
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #333333;
  }

  .order__button {
    width: 100%;
    min-height: 58px;
  }
}
