.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 389px;
  background-image: url("../img/intro-triangle.png"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
